aniso8601==8.0.0
bcrypt==3.1.7
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Compress==1.4.0
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
gevent==1.4.0
greenlet==0.4.15
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
Naked==0.1.31
pyasn1==0.4.8
pycparser==2.19
PyJWT==1.7.1
pymongo==3.10.1
pytz==2019.3
PyYAML==5.3
requests==2.22.0
rsa==4.1
selenium==3.141.0
shellescape==3.8.1
six==1.14.0
urllib3==1.25.8
Werkzeug==0.16.1
